.step3-info-div {
  margin: 10px;
  border-bottom: 2px solid gray;
}
.step3-info-div2 {
  display: flex;
  margin-left: 150px;
}
.step3-info-div2 > h6 {
  margin: auto;
}
.step3-btn-div {
  display: flex;
  margin-left: 35%;
  padding: 20px;
}

.step3-btn-div > button {
  margin: 10px;
}
